h1{
  color: #E34E45;
  font-weight: 600;
  font-family: 'rubik', sans-serif;
}
body{
  background-color: lightpink;
  display: flex;
  justify-content: center;
  font-family: 'roboto', monospace;
}
.container{
  background-color: white;
  width: 250px;
  height: 210px;
  border-radius: 5%;
  padding: 5px;
}
.available, .reserved{
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  margin: 10px;
}
.available{
background-color: lightgrey;
cursor: pointer;
}
.reserved{
  background-color: grey;
  cursor: not-allowed;
}
.display{
  text-align: center;
}
.form{
  font-family: 'roboto', monospace;
  position: absolute;
  text-align: left;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  height: 310px;
  width: 300px;
  box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
  border-radius: 5%;
  padding: 10px;
  display: none;
}
input, button{
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
input{
  border: none;
  border-bottom: 1px solid grey;
}
button{
  background-color: #008000;
   box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
   border: none;
   height: 30px;
}
h2{
margin-top: 0px;
padding-top: 30px;
margin-left: 10px;
    color: #E34E45;
  font-weight: 600;
  font-family: 'rubik', sans-serif;
}
h5{
  margin-left: 10px;
}
.close{
  position: absolute;
  left: 95%;
  top: 2%;
  cursor: pointer;
}
.available:hover{
  background-color: #ADAAAA;
}
.box{
  position: absolute;
 text-align: left;
  height: 50;
  width: 50;
  background-color: grey;
  display: none;
  border-radius: 5%;
  border: 1px solid black;
  padding: 5px;
}
#B1,#B4,#B7{
  float: left;
  margin-left: 50px;
  transform: translateX(-50%);
}
#B2,#B5,#B8{
  left: 50%;
  transform: translateX(-50%);
}
#B3,#B6,#B9{
  float: right;
  margin-left: 200px;
  transform: translateX(-50%);
}
#B1,#B2,#B3{
  top: 180px;
}
#B4,#B5,#B6{
  top: 250px;
}
#B7,#B8,#B9{
  top: 320px;
}
#name:focus,
#phone:focus,
#number:focus,
button:focus{
    outline: none;
}
